@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gambar{
  width: 100px;
  height: 100px;
}

.kol1 {
  margin-top: 50px;
}

.con-bg {
  margin-left: 20px;
  padding-bottom: 0px;
  color: #f5f5f5;
  text-align: justify;
}

.background {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 30px;
}

.kartu {
  border: 0px solid #f5f5f5 !important;
}

.teks1 {
  align-items: left;
  
}

.teks2 {
  align-items: right;
}